.container_confirmed
{
    height: 13em;
    text-align: center;
    padding: 3em;
}

ul.pagination 
{
    text-align: center;
}

li.picture
{
   margin-top: 20%;
}

.footer-copyright {
    margin-left: 10%;
}

footer .container .row
{
	margin-left: 10%;
}

.tittle h4
{
  font: 400 90px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  text-align: center;
  margin-top: 0.5em; 
}

.tittle h3
{
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  text-align: center;
  margin-top: 0.5em;
}


.tittle h2
{
  font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
  text-align: center;
}

.register_form
{
  margin-top: 10%;
  
}

.modules img
{
  display: block;
  margin: 0 auto;
}
/*
.modules.row 
{
    margin-top: 5%;
}*/
.header
{
  margin-top: 2em;
}
img.package-image {
    width: 90%;
}
img.component-image 
{
    display: block;
}

.order-select
{
    margin-top: 1em!important;
    display: block;
}
.status-color
{
  color: #2BBBAD;
}

h2.status-color
{
  color: #2BBBAD;
}

.buyer-name
{
  margin-top: -2em;
}

.package-image.col.s12.l6 
{
  max-width: 50%;
}
.modules 
{
  margin-top: 12%;
}
a.refresh-btn
{
  display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .tittle h3
    {
      font-size: 60px;
    }

    .tittle h2
    {
      font-size: 40px;
    }
    .order-select input.select-dropdown 
    {
      margin-top: -2em!important;
    }
    .modules
    {
      margin-top: 20%;
    }
    a.btn-large
    {
      width: 80%;
      margin-left: 10%;
    }
    a.btn-large
    {
      width: 80%;
      margin-right: 10%;
      margin-top: 2%;
      font-size: 11px;
    }
    a.refresh-btn.left.btn.waves-effect.waves-light 
    {
      margin-left: 25%;
    }
    button.right.btn-large.waves-effect.waves-light 
    {
      width: 80%;
      margin-right: 10%;
      margin-top: 5%;
      font-size: 11px;
    }
    .package-image.col.s12.l6 
    {
      max-width: 100%;
    }
    .delete i 
    {
      font-size: 20px!important;
      margin-left: 2em!important;
    }
    .cut
    {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}