li.picture {
    margin-top: 0%;
}

/*.footer-copyright {*/
/*margin-left: 10%;*/
/*}*/

footer .container .row {
    margin-left: 14%;
}

h3
{
    font-family:  'Open Sans';
}

.personal
{
    background-color: #EE6E73!important
}
/*
Estilos Jacobo
*/

.container_ {
    width: 65% !important;
    margin-left: 17% !important;
    margin-top: 2% !important;
    margin-bottom: 15% !important;
}

.container_1 {
    width: 65% !important;
    margin-left: 17% !important;
    margin-top: 2% !important;
    margin-bottom: 3% !important;
}

.container_package {
    margin-top: 5%;
    margin-bottom: 15%;
}

.container_cart {
    margin-top: 2%;
    margin-bottom: 15%;
}

.container_checkout {
    margin-top: 2%;
    margin-bottom: 15%;
}

.container_form_data {
    margin-top: 2%;
    margin-bottom: 10%;
}

.container_child {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_card_date {
    width: 35%;
}

/*Estilo credit card*/
.container_card_code {
    width: 30%;
}

.img_secure {
    /*margin-left: 4%;*/
    margin-bottom: 15px;
}

/*fin de estilo credit card*/

.fixed_nav_right {
    position: fixed;
    bottom: 250px;
    /*right: -30px;*/
    right: 0px;
}

.container_confirmed {
    width: 65% !important;
    height: 190px !important;
    margin-left: 17% !important;
    margin-top: 2% !important;
    margin-bottom: 15% !important;
    padding-top: 10px;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
}

.container_social li {
    display: inline-block;
}

.center_brad_logo {
    margin-left: 6%;
}


/*fu styles*/



.parallax-container h3 {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 1.5em;
}

.parallax-container h2 {
    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

li.collection-item.avatar 
{
    margin-top: 1em;
}

.offset-s1.preloader-wrapper.big.center.active 
{
    float: right;
    margin-right: 10%;
    margin-top: -5%;
}



/*end fu styles*/





.container_before_cart {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    display: none;
    /*background-color: #d1c4e9;*/
}

.totals_row_1 {
    margin-left: 22px;
}

.totals_row_2 {
    margin-left: 12px;
}

.value_total_1 {
    width: 32%;
    padding-left: 130px;
}

/*Estilo para btn cart*/
.btn_cart {
    margin-top: 20px;
}

/*fin Estilo para btn cart*/
/*
Ocultar los div por defecto
*/
#right_nav_cart {
    display: none;
}

/*#right_nav_package {*/
/*display: none;*/
/*}*/

#cart {
    display: none;
}

#checkout_cart {
    display: none;
}

#checkout {
    display: none;
}

#success_confirmed {
    display: none;
}



.redimension-img {
    width: 200px;
}

.description-img {
    width: 350px;
    height: 150px;
    display: inline-block;
    margin-left: 10px;
}

.description-img h5 {
    margin-top: 0px;
}

.cost-componnet {
    margin: 3% 5%;
    padding: 10px 0px;
}

.cost-componnet span {
    color: #ee6e73;
}

.general-img div {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.collection .collection-item.avatar {
    padding-left: 10px !important;
}

.tittle h3 {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #000;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 0.5em;
}

.tittle h2 {
    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #000;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img.package-image {
    width: 100%;
}

.message p {
    text-align: justify;
}

/*estilo de metodo de pago*/
#pay-credit-card {
    display: none;
}

#pay-agency-pay {
    display: none;
}

#pay-bank-transfer {
    display: none;
}

.data-personal-buyer {
    /*display: none;*/
}

#show-go_make_pay {
    display: none;
}

#show-go_make_pay_tb {
    display: none;
}

#show-go_make_pay_te {
    display: none;
}

.subtotal {
    /*margin-left: 41%;*/
    overflow: hidden;
    width: 50%;
}

.terms
{
    cursor: pointer;
}

table#table_cart_subtotal
{
    margin-right: 8%;
}

ul.container_social 
{
    height: 7em;
}

.footer-container img
{
    margin-top: 1em;
}

.footer-container img.ilogo
{
    margin-top: 3em;
}
.toast
{
    width: 28%!important;
    font-size: 12px;
}

#success
{
   
    display: none;
}

/*.success_img
{
    background-image: url(/DreamGiftsSoyServidor/public/images/home_wedding.jpg);
    background-position-x: center;
    background-size: cover;
    margin-top: -64px;
    padding-top: 64px;
}*/

/*.hero
{
    background-color: rgba(236, 161, 197, 0.74);
    color: #fff;
    padding: 100px 0 50px;
}*/

/*fin de estilo de metodo de pago*/


/*responsive styles*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    span
    {
        font-size: 30px;
    }
    h3
    {
        font-size: 2em!important;
    }
    h6
    {
        font-size: 1.5em!important;
    }
    a#go_make_process_pay 
    {
        width: 100%;
        margin-bottom: 1em;
    }
    a#return_edit_package 
    {
        width: 100%;
    }
    .toast
    {
        width: 95%!important;
        font-size: 12px;
        text-align: center!important;
    }   
    .malert
    {
        font-size: 12px;
        text-align: center!important;
    }
    .row.personal1 
    {
        margin-bottom: 0!important;
    }
    .container_1 
    {
        width: 100%!important;
        margin-left: 0%!important;
        margin-top: 2% !important;
        margin-bottom: 6% !important;
    }   
    .tittle h3 
    {
        font: 400 70px/0.8 'Great Vibes', Helvetica, sans-serif!important;
    }

    .tittle h2
    {
        font-size: 40px;
    }
    .btn-large
    {
      
    }
    .description-img 
    {
        text-align: center;
    }
    .image-component
    {
        text-align: center;
    }
    
    .cost-componnet
    {
        text-align: center;
    }

    .secondary-content
    {
        position: inherit!important;
    }

    .description-img 
    {
        height: auto;
    }
    .subtotal 
    {
        text-align: center;
        margin-top: 3%;
    }
    .btn_cart 
    {
        margin-top: 5%;
    }
     .offset-s1.preloader-wrapper.big.center.active 
    {
      float: left!important;
      margin-top: 1%!important;
      width: 30px!important;
      height: 30px!important;
      margin-left: 50%!important;
    }
    img.circle 
    {
        width: 70%;
    }
    ul.container_social 
    {
        height: 0em;
        margin-top: 0;
    }
    


    
}
/*primer test*/
@media screen and (min-width: 1500px) and  (max-width: 2400px)
{
    #second {
        background-size:170em;
        height:76em;
    }
    #second2 {
        background-size:177em;
    }
    #second .bg {
        height:40%;
        margin:4.5% 18%;
    }
    #second2 .bg2 {
        height:56.8%;
        margin:0% 18%;
    }
    .test {
        background-position: 45% 270px !important;
    }
}
/*fin de primer test*/

/*pantallas grandes*/
@media screen and (min-width: 1501px)
{
    #second {
        background-size:170em;
        height:76em;
    }
    #second2 {
        background-size:177em;
    }
    #second .bg {
        height:40%;
        margin:4.5% 18%;
    }
    #second2 .bg2 {
        height:56.8%;
        margin:0% 18%;
    }
    .test {
        background-position: 45% 270px !important;
    }
}
/*fin de pantallas grandes*/
/*pantallas mediannas*/
@media screen and (min-width: 481px) and (max-width: 1500px)
{
    #second {
        background-size:120em;
    }
    #second2 {
        background-size:120em;
    }
    #second .bg {
        height:40%;
        margin: 4.8% 18%;
        background-size: 24%;
    }
    #second2 .bg2 {

        height:56.8%;
        margin:0% 18%;
    }
    .test {
        background-position: 47% 202px !important;
    }
}
@media screen and  (max-width: 480px)
{
    #second {
        background-size: 100em;
    }
    #second2 {
        background-size:177em;
    }
    #second .bg {
        height:40%;
        /*margin:4.5% 18%;*/
    }
    #second2 .bg2 {
        /*height:56.8%;*/
        /*margin:0% 18%;*/
        background-size: 40%;
    }
    .test {
        background-position: 46% 300px !important;
    }
    .test2 {
        background-position: 46% 220px !important;
    }
}
/*fin de pantallas mediannas*/


/*end responsive styles*/