z/*.row {*/
/*margin-top: 25px;*/
/*border-radius: 5px;*/
/*}*/

/*.col {*/
/*margin-top: 20px;*/
/*margin-bottom: 20px;*/
/*}*/

table.striped td.action-jv {
    width: 27%;
}

.page-footer {
    height: 25%;
}

.borde {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.main_panrel {
    background-image: url('../../img/1920x532-verde-300.jpg');
}

@font-face {
    font-family: aller;
    src: url(../font/aller/Aller_Std_Bd.ttf);
}

@font-face {
    font-family: aller2;
    src: url(../font/aller/Aller_Std_BdIt.ttf);
}

h3 {
    /*color: #33691e;*/
    color: #424242;
    font-family: aller, sans-serif;

}

p {
    /*font-family: aller2, sans-serif;*/
    /*font-size: 20px;*/
    /*color: #33691e;*/
    font-size: 14px;
    color: #424242;
}
.destacado{
    font-family: aller2, sans-serif;
    font-size: 20px;
    /*color: #33691e;*/
    font-size: 20px;
    color: #424242;
}
.divider {
    background-color: #546e7a;
}

.fixed-action-btn.horizontal {
    padding: 0 0 0 15px;
}

.fixed-action-btn.horizontal ul {
    text-align: right;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    left: initial;
    width: 500px;
    /*width 100% only goes to width of button container */
}

.fixed-action-btn.horizontal ul li {
    display: inline-block;
    margin: 15px 15px 0 0;
}

.title_table {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #f2f2f2;
}

.title_table span {
    font-size: 22px;
    font-weight: bold;
}

.title_table .col.s11 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title_table .col.s1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: -10px !important;
}

.title_table .col.s2 .col.s2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.dropdown-content li{*/
/*height:65px;*/
/*/!*width:150px;*!/*/
/*}*/
.dropdown-content li.divider {
    height: 1px;
    /*width:150px;*/
}

#ui-id-1 {
    background-color: #fff;
    width: 10%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
}

#ui-id-1 li {
    height: 35px;
    border: 1px solid #f2f2f2;
    padding-top: 5px;
    padding-left: 10px;
}

span.ui-helper-hidden-accessible {
    display: none;
}

/*Estilo de nav bar vertical del dashboard de reportes*/
.nav-bar-vertical li {
    width: 100%;
}

.row.dashboard .col {
    padding: 0;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

.row.dashboard {
    margin-bottom: 0px;
}

.controPanel {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.panelReport .card {
    margin-bottom: 0px;
}

.containerNotification {
    width: 400px;
    position: fixed;
    right: 81px;
    top: 56px;
}

.panel_notification {
    background-color: #ffffff;
}
/*
Estilo para la imagen de acceso denegado
*/
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 220px;
    right: 0;
    top: 9px;
    bottom: 0;
    width: 21%;
}
/*
Css para seguridad del sistema
*/

/*.title_table .col.s2 .col.s1 a{*/
/*margin-top: 10px;*/
/*margin-bottom: 10px;*/
/*}*/







/*end fu styles*/